$bg-color: yellow;
$border-color: red;

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid $border-color;

  p {
    background-color: $bg-color;
  }

  .root {
    display: flex;
    flex-grow: 1;
  }

  .menuButton {
    margin-right: 10px;
  }

  .banner{
    flex-grow: 1;
  }
}
